@model TinyBudget.Models.LongTermSaving

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LongTermSaving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WeelkyAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeelkyAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonToSave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonToSave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeAdded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
